{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'website/style.css' %}" />

<h1>Video Overview</h1>
{% for post in post_list %}
  <h2><a href={% url "polls:post_detail" post.id %}>{{ post.title }}</a></h2>
  <p>
    {{ post.pub_date }} |
    {{ post.comments|length }} comments |
    tagged {{ post.tags|join:', ' }}
  </p>
{% endfor %}

<style type="text/css">
.splash {
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("https://s-passets-ec.pinimg.com/webapp/app/desktop/images/logged_out_splash.77aa6339.jpg?1373235165");
    background-size: contain;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    bottom: 0;
    height: 200%;
    margin: auto;
    max-height: 466px;
    max-width: 1034px;
    position: absolute;
    width: 200%;
}
</style>

<div class="splash"></div>